{% load staticfiles %}

{% include "deeperweb/includes/header.html" %}
<!-- breadcrumbs start-->
<section style="background-image:url({% static 'deeperweb/pic/breadcrumbs/bg-3.jpg' %}); no-repeat" class="breadcrumbs">
    <div class="container">
        <div class="text-center breadcrumbs-item">
            <h1>About Us</h1>
            <a href="{% url 'index' %}">home</a><i class="fa fa-angle-right"></i>
            <a href="{% url 'about' %}">about</a><i class="fa fa-angle-right"></i>
            <a href="#">About Us</a>
        </div>
    </div>
</section>
<!-- ! breadcrumbs end-->
<div class="content-body">
    <!-- section team-->
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- title section-->
                    <h2 class="title-section text-center mt-0 mb-0">Our Team</h2>
                    <!-- ! title section-->
                    <div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
                    <p class="text-center mb-30">Aenean ut eros et nisl sagittis vestibulum, aullam nulla eros,
                        ultricies sit amet, nonummy id, imperdiet feugiat, pede. Donec mollis hendrerit risus. Phasellus
                        nec sem in justo pellentesque facilisis, imperdiet imperdiet orci. </p>
                </div>
            </div>
            <div class="row cws-multi-col mb-50">
                <div class="col-md-3 col-sm-6 mb-md-30">
                    <!-- profile item-->
                    <div class="profile-item">
                        <div class="pic">
                            <div class="img_cont"><img src="{% static 'deeperweb/pic/team/Jiannan-Wang.jpg' %}" alt>
                            </div>
                            <div class="hover-effect"></div>
                            <div class="ourteam_content">
                                <div class="title_wrap">
                                    <h3 class="title">Jiannan Wang</h3>
                                    <div class="positions"><a href="http://www.cs.sfu.ca/~jnwang/">[ Assistant Professor
                                        ]</a></div>
                                </div>
                                <div class="desc">
                                    <p>Research Areas: Database Systems, Big Data Science</p>
                                </div>
                                <div class="social_links">
                                    <a href="#" class="flaticon-social"></a>
                                    <a href="#" class="flaticon-social-1"></a>
                                    <a href="#" class="flaticon-social-2"></a>
                                    <a href="#" class="flaticon-social-3"></a>
                                    <a href="#" class="flaticon-social-4"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ! profile item-->
                </div>
                <div class="col-md-3 col-sm-6 mb-md-30">
                    <!-- profile item-->
                    <div class="profile-item">
                        <div class="pic">
                            <div class="img_cont"><img src="{% static 'deeperweb/pic/team/Ryan-Shea.jpg' %}" alt></div>
                            <div class="hover-effect"></div>
                            <div class="ourteam_content">
                                <div class="title_wrap">
                                    <h3 class="title">Ryan Shea</h3>
                                    <div class="positions"><a href="https://sfucloud.ca/ryan/">[ Research Associate
                                        ]</a></div>
                                </div>
                                <div class="desc">
                                    <p>Research Interests: Cloud Computing and Big Data, AR/VR Offloading, Cloud
                                        Gaming</p>
                                </div>
                                <div class="social_links">
                                    <a href="#" class="flaticon-social"></a>
                                    <a href="#" class="flaticon-social-1"></a>
                                    <a href="#" class="flaticon-social-2"></a>
                                    <a href="#" class="flaticon-social-3"></a>
                                    <a href="#" class="flaticon-social-4"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ! profile item-->
                </div>
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <!-- profile item-->
                    <div class="profile-item">
                        <div class="pic">
                            <div class="img_cont"><img src="{% static 'deeperweb/pic/team/Pei-Wang.jpg' %}" alt></div>
                            <div class="hover-effect"></div>
                            <div class="ourteam_content">
                                <div class="title_wrap">
                                    <h3 class="title">Pei Wang</h3>
                                    <div class="positions"><a href="http://www.sfu.ca/~peiw/">[ Phd Student ]</a></div>
                                </div>
                                <div class="desc">
                                    <p>Research Topics: Data Enrichment with Deep Web </p>
                                </div>
                                <div class="social_links">
                                    <a href="#" class="flaticon-social"></a>
                                    <a href="#" class="flaticon-social-1"></a>
                                    <a href="#" class="flaticon-social-2"></a>
                                    <a href="#" class="flaticon-social-3"></a>
                                    <a href="#" class="flaticon-social-4"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ! profile item-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- profile item-->
                    <div class="profile-item">
                        <div class="pic">
                            <div class="img_cont"><img src="{% static 'deeperweb/pic/team/Yongjun-He.jpg' %}" alt></div>
                            <div class="hover-effect"></div>
                            <div class="ourteam_content">
                                <div class="title_wrap">
                                    <h3 class="title">Yongjun He</h3>
                                    <div class="positions"><a
                                            href="https://www.facebook.com/profile.php?id=100021357891155">[
                                        Undergraduate Student ]</a></div>
                                </div>
                                <div class="desc">
                                    <p>Research Topics: Data Enrichment with Deep Web </p>
                                </div>
                                <div class="social_links">
                                    <a href="#" class="flaticon-social"></a>
                                    <a href="#" class="flaticon-social-1"></a>
                                    <a href="#" class="flaticon-social-2"></a>
                                    <a href="#" class="flaticon-social-3"></a>
                                    <a href="#" class="flaticon-social-4"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ! profile item-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3 class="trans-uppercase mb-20"><span>About</span> DeepER</h3>
                    <p class="mb-40">We believe that DeepER is a promising new research direction.
                        There are many interesting problems that can be studied in the future.
                        Experiments results over simulated and real hiddenl databases show that SMARTCRAWL can
                        cover a large portion of the local database with a small budget, outperforming straightforward
                        solutions by a factor of 2-7x in a large variety of situations.</p>
                    <a href="https://github.com/sfu-db/deeperlib" class="cws-button with-icon alt color-2 blog-nav-button">View Details<i class="flaticon-social-5"></i></a>
                    <div class="blog-nav-share align-right">
                        <a href="#" class="cws-social flaticon-social-4"></a>
                        <a href="#" class="cws-social flaticon-social"></a>
                        <a href="#" class="cws-social flaticon-social-3"></a>
                        <a href="#" class="cws-social flaticon-social-1"></a>
                        <a href="#" class="cws-social flaticon-social-network"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="trans-uppercase mb-20">Algorithms</h3>
                    <!-- skill bar item-->
                    <div class="skill-bar st-color-4">
                        <div class="name">IDEAL<span class="skill-bar-perc"></span></div>
                        <div class="bar"><span data-value="100" class="cp-bg-color skill-bar-progress"></span></div>
                    </div>
                    <!-- ! skill bar item-->
                    <!-- skill bar item-->
                    <div class="skill-bar st-color-3">
                        <div class="name">SMARTCRAWL<span class="skill-bar-perc"></span></div>
                        <div class="bar"><span data-value="75" class="cp-bg-color skill-bar-progress"></span></div>
                    </div>
                    <!-- ! skill bar item-->
                    <!-- skill bar item-->
                    <div class="skill-bar st-color-2">
                        <div class="name">FULLCRAWL<span class="skill-bar-perc"></span></div>
                        <div class="bar"><span data-value="50" class="cp-bg-color skill-bar-progress"></span></div>
                    </div>
                    <!-- ! skill bar item-->
                    <!-- skill bar item-->
                    <div class="skill-bar st-color-1">
                        <div class="name">NAIVECRAWL<span class="skill-bar-perc"></span></div>
                        <div class="bar"><span data-value="25" class="cp-bg-color skill-bar-progress"></span></div>
                    </div>
                    <!-- ! skill bar item-->
                </div>
            </div>
        </div>
    </section>
    <!-- ! section team-->
        <!-- section parallax counter-->
    <section class="page-section cws_prlx_section pt-70 pb-70 bb-gray"><img
            src="{% static 'deeperweb/pic/counter-bg-1.jpg' %}" alt class="cws_prlx_layer">
        <div class="container">
            <div class="row cws-multi-col">
                <div class="col-sm-3 col-xs-6 mb-sm-50">
                    <!-- counter block-->
                    <div class="counter-block style-2 st-color-2 full"><i class="counter-icon flaticon-people-2"></i>
                        <div class="counter-name-wrap">
                            <div data-count="9" class="counter">0</div>
                            <div class="counter-name">Members</div>
                        </div>
                    </div>
                    <!-- ! counter block-->
                </div>
                <div class="col-sm-3 col-xs-6 mb-sm-50">
                    <!-- counter block-->
                    <div class="counter-block style-2 st-color-2 full"><i class="counter-icon flaticon-fashion"></i>
                        <div class="counter-name-wrap">
                            <div data-count="1500" class="counter">0</div>
                            <div class="counter-name">Citations</div>
                        </div>
                    </div>
                    <!-- counter block-->
                </div>
                <div class="col-sm-3 col-xs-6">
                    <!-- counter block-->
                    <div class="counter-block style-2 st-color-2 full"><i class="counter-icon flaticon-game"></i>
                        <div class="counter-name-wrap">
                            <div data-count="6" class="counter">0</div>
                            <div class="counter-name">Ongoing Projects</div>
                        </div>
                    </div>
                    <!-- ! counter block-->
                </div>
                <div class="col-sm-3 col-xs-6">
                    <!-- counter block-->
                    <div class="counter-block style-2 st-color-2 full"><i class="counter-icon flaticon-sheet"></i>
                        <div class="counter-name-wrap">
                            <div data-count="2016" class="counter">0</div>
                            <div class="counter-name">Date of Founding</div>
                        </div>
                    </div>
                    <!-- ! counter block-->
                </div>
            </div>
        </div>
    </section>
    <!-- ! section parallax counter-->
    <!-- page section-->
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 mb-20">
                    <h2 class="title-section mb0 mt-0 text-center">We Are DSL</h2>
                    <div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
                    <p class="text-center mb-30">The mission of our lab is to speed up data science.
                        We develop innovative technologies and open-source tools for data scientists such
                        that they can turn raw data into actionable insights in a more efficient manner.
                        Our current research topics include:  </p>
                </div>
                <!-- service item-->
                <div class="col-sm-3 mb-sm-40">
                    <div class="service-item icon-center"><i class="flaticon-fashion cws-icon type-1 color-2"></i>
                        <h3>Data Cleaning for Machine Learning</h3>
                        <p class="mb-0">Data Cleaning Advisor for ML<a href="#" class="color-1 mt-10">Read More<span
                                    class="cws_divider short color-1"></span></a></p>
                    </div>
                </div>
                <!-- service item-->
                <!-- ! service item-->
                <div class="col-sm-3 mb-sm-40">
                    <div class="service-item icon-center"><i class="fa fa-users cws-icon type-1 color-2"></i>
                        <h3>Crowdsourced Data Cleaning</h3>
                        <p class="mb-0">Data Cleaning with Statistical Constraints<a href="#" class="color-1 mt-10">Read More<span
                                    class="cws_divider short color-1"></span></a></p>
                    </div>
                </div>
                <!-- service item-->
                <!-- ! service item-->
                <div class="col-sm-3">
                    <div class="service-item icon-center"><i class="flaticon-computer-1 cws-icon type-1 color-2"></i>
                        <h3>Data Enrichment with Deep Web</h3>
                        <p class="mb-0">DeepER: Deep Entity Resolution <a href="#" class="color-1 mt-10">Read More<span
                                    class="cws_divider short color-1"></span></a></p>
                    </div>
                </div>
                <!-- ! service item-->
                <!-- ! service item-->
                <div class="col-sm-3">
                    <div class="service-item icon-center"><i class="fa fa-bar-chart cws-icon type-1 color-2"></i>
                        <h3>Interactive Analytics Over Big Data</h3>
                        <p class="mb-0">AQP++: Connecting AQP with Aggregate<a href="#" class="color-1 mt-10">Read More<span
                                    class="cws_divider short color-1"></span></a></p>
                    </div>
                </div>
                <!-- ! service item-->
            </div>
        </div>
    </section>
    <!-- ! page section -->
    <!-- our partners-->
    <section class="page-section bg-gray bt-gray pb-0 pt-0">
        <div class="container">
            <div class="row mt-30 mb-30">
                <!-- partner item-->
                <div class="col-md-4 col-xs-8 partner-item mb-md-10"><img src="{% static 'deeperweb/img/sponsor/nserc.png' %}" alt
                                                                          class="filter-grayscale"></div>
                <!-- ! partner item-->
                <!-- partner item-->
                <div class="col-md-4 col-xs-8 partner-item mb-md-10"><img src="{% static 'deeperweb/img/sponsor/simba.png' %}" alt
                                                                          class="filter-grayscale"></div>
                <!-- ! partner item-->
                <!-- partner item-->
                <div class="col-md-4 col-xs-8 partner-item mb-md-10"><img src="{% static 'deeperweb/img/sponsor/vancity.png' %}" alt
                                                                          class="filter-grayscale"></div>
                <!-- ! partner item-->
            </div>
        </div>
    </section>
    <!-- ! our partners-->
</div>

{% include "deeperweb/includes/footer.html" %}