{% load staticfiles %}

{% include "deeperweb/includes/header.html" %}
<!-- breadcrumbs start-->
<section style="background-image:url({% static 'deeperweb/pic/breadcrumbs/bg-1.jpg' %}); no-repeat" class="breadcrumbs">
    <div class="container">
        <div class="text-center breadcrumbs-item">
            <h1>Demo</h1>
            <a href="{% url 'index' %}">home</a><i class="fa fa-angle-right"></i>
            <a href="{% url 'contact' %}">basic</a><i class="fa fa-angle-right"></i>
            <a href="#">demo</a>
        </div>
    </div>
</section>
<!-- ! breadcrumbs end-->
    <div class="content-body page">
      <div class="container">
        <div class="row mb-50">
          <!-- sidebar-->
          <div class="col-md-4 sidebar">
            <aside class="sb-left pb-50-imp">
              <!-- widget search-->
              <div class="cws-widget">
                <div class="widget-image mb-60 mb-xs-30"><img src="{% static 'deeperweb/pic/shop/sb-img.jpg' %}" alt>
                  <div class="img-title">
                    <h3>New Men’s Collection</h3>
                    <p>- &nbsp; Fashion 2016 &nbsp; -</p>
                  </div>
                </div>
                <div class="widget-search">
                  <form role="search" method="get" action="#" class="search-form">
                    <label><span class="screen-reader-text">Search ...</span>
                      <input type="search" placeholder="Search ..." value="" name="s" title="Search:" class="search-field">
                    </label>
                    <button type="submit" class="search-submit"><i class="flaticon-interface"></i></button>
                  </form>
                </div>
              </div>
              <!-- ! widget search-->
              <!-- widget category-->
              <div class="cws-widget">
                <div class="widget-categories">
                  <h2 class="widget-title">Category</h2>
                  <ul>
                    <li class="cat-item cat-item-1"><a href="#">Accessories</a>[08]</li>
                    <li class="cat-item cat-item-1"><a href="#">Dresses</a>[11]</li>
                    <li class="cat-item cat-item-1"><a href="#">Handbags</a>[14]</li>
                    <li class="cat-item cat-item-1"><a href="#">Jacket</a>[09]</li>
                    <li class="cat-item cat-item-1"><a href="#">Pants</a>[15]</li>
                    <li class="cat-item cat-item-1"><a href="#">Shirts</a>[06]</li>
                    <li class="cat-item cat-item-1"><a href="#">Shoes</a>[13]</li>
                  </ul>
                </div>
              </div>
              <!-- ! widget category-->
              <!-- widget top sellers-->
              <div class="cws-widget">
                <div class="widget-top-sellers">
                  <h2 class="widget-title">Best Sellers</h2>
                  <!-- item recent post-->
                  <div class="item-top-sellers clearfix"><img src="{% static 'deeperweb/pic/shop/70x60/1.jpg' %}" alt>
                    <h3 class="title"><a href="single.html">Integer ante arcu serius</a></h3>
                    <div class="price">$40.<span class="mini-price">99</span> <span class="old-price">$30.<span class="mini-price">99</span></span></div>
                  </div>
                  <!-- ! item recent post-->
                  <!-- item recent post-->
                  <div class="item-top-sellers clearfix"><img src="{% static 'deeperweb/pic/shop/70x60/2.jpg' %}" alt>
                    <h3 class="title"><a href="single.html">Aenean tellus metus</a></h3>
                    <div class="price">$15.<span class="mini-price">99</span></div>
                  </div>
                  <!-- ! item recent post-->
                  <!-- item recent post-->
                  <div class="item-top-sellers clearfix"><img src="{% static 'deeperweb/pic/shop/70x60/3.jpg' %}" alt>
                    <h3 class="title"><a href="single.html">Vestibulum ante ipsum</a><span style="width:80%"></span></h3>
                    <div class="price">$20.<span class="mini-price">99</span></div>
                  </div>
                  <!-- ! item recent post-->
                </div>
              </div>
              <!-- ! widget top sellers-->
              <!-- filter price-->
              <div class="cws-widget">
                <div class="widget-price-slider">
                  <h2 class="widget-title">Filter By Price</h2>
                  <form method="get" action="#">
                    <div class="price_slider_wrapper">
                      <div aria-disabled="false" class="price_slider price_slider_amount ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div><a href="#" class="ui-slider-handle ui-state-default ui-corner-all">
                          <div style="" class="price_label"><span class="from"></span></div></a><a href="#" class="ui-slider-handle ui-state-default ui-corner-all">
                          <div style="" class="price_label"><span class="to"></span></div></a>
                      </div>
                      <div class="price_slider_amount addon">
                        <input id="min_price" type="text" name="min_price" value="" data-min="0" placeholder="Min price" style="display: none;">
                        <input id="max_price" type="text" name="max_price" value="" data-max="100" placeholder="Max price" style="display: none;">
                        <div class="price_label"><span class="from"></span>- <span class="to"></span></div><a href="#" class="cws-button mini alt">Filter</a>
                        <input type="hidden" name="post_type" value="product">
                        <div class="clear"></div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- ! filter price-->
              <!-- widget color filter-->
              <div class="cws-widget">
                <div class="widget-custom-filter">
                  <h2 class="widget-title">Filter By Color</h2>
                  <div class="color-filter">
                    <ul>
                      <li class="cat-item cat-item-1 black"><a href="">Black</a>[08]</li>
                      <li class="cat-item cat-item-1 main-color active"><a href="">Blue</a>[25]</li>
                      <li class="cat-item cat-item-1 grey"><a href="">Grey</a>[11]</li>
                      <li class="cat-item cat-item-1 green"><a href="">Green</a>[13]</li>
                      <li class="cat-item cat-item-1 yellow"><a href="">Yellow</a>[09]</li>
                      <li class="cat-item cat-item-1 red"><a href="">Red</a>[16]</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- widget color filter-->
            </aside>
          </div>
          <!-- ! sidebar-->
          <!-- content-->
          <div class="col-md-8 list-grid-view">
            <div class="#post mb-60 mb-xs-30"><img src="{% static 'deeperweb/pic/shop/748x258.jpg' %}" alt>
              <div class="#post-title">
                <h1 class="mb-20">Classic Business Style</h1>
                <h4 class="mb-40">Summer Collection 2016</h4><a href="#" class="cws-button">Shop now</a>
              </div>
            </div>
            <div class="#group mb-30">
              <div class="#data">
                <div class="result-count">Showing <span>1</span> to <span>9</span> of <span>25</span> results </div>
                <form method="get" class="#ordering">
                  <select name="orderby" class="orderby">
                    <option value="menu_order">Default sorting</option>
                    <option value="popularity">Popularity</option>
                    <option value="rating">Average rating</option>
                    <option value="date">Newness</option>
                    <option value="price">Low to high</option>
                    <option value="price-desc">High to low</option>
                  </select>
                </form>
                <form method="get" class="#ordering">
                  <select name="orderby" class="orderby">
                    <option>Show per page: 9</option>
                    <option>Show per page: 12</option>
                    <option>Show per page: 15</option>
                    <option>Show per page: 18</option>
                    <option>Show per page: 21</option>
                  </select>
                </form>
              </div>
            </div>
            <div class="cws_divider"></div>
            <div class="row products">
              <!-- product-->
              <div class="col-md-4 col-sm-6">
                <div class="product hot">
                  <!-- action-->
                  <div class="action">New</div>
                  <!-- ! action-->
                  <!-- picture-->
                  <div class="pic"><img src="{% static 'deeperweb/pic/shop/240x300/1.jpg' %}" alt><a href="single.html" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                  <!-- ! picture-->
                  <h3 class="product-title"><a href="single.html">Maecenas nec odio</a></h3>
                  <div class="price-review">
                    <div class="star-rating full"><span style="width:100%"></span></div>
                    <div class="price">$54.<span class="price-mini">99</span></div>
                    <div class="button-groups"><a href="#" class="#button add-to-cart"> <i class="flaticon-commerce"></i>Add to cart</a><a href="cart.html" class="#button added-to-cart"> <i class="flaticon-mark"></i>View cart	</a></div>
                  </div>
                </div>
              </div>
              <!-- ! product-->
              <!-- product-->
              <div class="col-md-4 col-sm-6">
                <div class="product">
                  <!-- picture-->
                  <div class="pic"><img src="{% static 'deeperweb/pic/shop/240x300/2.jpg' %}" alt><a href="single.html" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                  <!-- ! picture-->
                  <h3 class="product-title"><a href="single.html">Nam quam nunc</a></h3>
                  <div class="price-review">
                    <div class="star-rating"><span style="width:80%"></span></div>
                    <div class="price">$17.<span class="price-mini">99</span></div>
                    <div class="button-groups"><a href="#" class="#button add-to-cart"> <i class="flaticon-commerce"></i>Add to cart</a><a href="cart.html" class="#button added-to-cart"> <i class="flaticon-mark"></i>View cart	</a></div>
                  </div>
                </div>
              </div>
              <!-- ! product-->
              <!-- product-->
              <div class="col-md-4 col-sm-6">
                <div class="product">
                  <!-- picture-->
                  <div class="pic"><img src="{% static 'deeperweb/pic/shop/240x300/3.jpg' %}" alt><a href="single.html" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                  <!-- ! picture-->
                  <h3 class="product-title"><a href="single.html">Vulputate eleifend</a></h3>
                  <div class="price-review">
                    <div class="star-rating full"><span style="width:100%"></span></div>
                    <div class="price">$45.<span class="price-mini">99</span></div>
                    <div class="button-groups"><a href="#" class="#button add-to-cart"> <i class="flaticon-commerce"></i>Add to cart</a><a href="cart.html" class="#button added-to-cart"> <i class="flaticon-mark"></i>View cart	</a></div>
                  </div>
                </div>
              </div>
              <!-- ! product-->
              <!-- product-->
              <div class="col-md-4 col-sm-6">
                <div class="product">
                  <!-- picture-->
                  <div class="pic"><img src="{% static 'deeperweb/pic/shop/240x300/4.jpg' %}" alt><a href="single.html" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                  <!-- ! picture-->
                  <h3 class="product-title"><a href="single.html">Donec vitae sapien</a></h3>
                  <div class="price-review">
                    <div class="star-rating"><span style="width:80%"></span></div>
                    <div class="price">$10.<span class="price-mini">99</span></div>
                    <div class="button-groups"><a href="#" class="#button add-to-cart"> <i class="flaticon-commerce"></i>Add to cart</a><a href="cart.html" class="#button added-to-cart"> <i class="flaticon-mark"></i>View cart	</a></div>
                  </div>
                </div>
              </div>
              <!-- ! product-->
              <!-- product-->
              <div class="col-md-4 col-sm-6">
                <div class="product">
                  <!-- action-->
                  <div class="action">Sale</div>
                  <!-- ! action-->
                  <!-- picture-->
                  <div class="pic"><img src="{% static 'deeperweb/pic/shop/240x300/5.jpg' %}" alt><a href="single.html" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                  <!-- ! picture-->
                  <h3 class="product-title"><a href="single.html">Fusce vulputate eleifend</a></h3>
                  <div class="price-review">
                    <div class="star-rating full"><span style="width:100%"></span></div>
                    <div class="price">$15.<span class="price-mini">99</span><span class="old-price">$30.<span class="price-mini">99</span></span></div>
                    <div class="button-groups"><a href="#" class="#button add-to-cart"> <i class="flaticon-commerce"></i>Add to cart</a><a href="cart.html" class="#button added-to-cart"> <i class="flaticon-mark"></i>View cart	</a></div>
                  </div>
                </div>
              </div>
              <!-- ! product-->
              <!-- product-->
              <div class="col-md-4 col-sm-6">
                <div class="product">
                  <!-- picture-->
                  <div class="pic"><img src="{% static 'deeperweb/pic/shop/240x300/6.jpg' %}" alt><a href="single.html" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                  <!-- ! picture-->
                  <h3 class="product-title"><a href="single.html">Cras ultricies mi eu</a></h3>
                  <div class="price-review">
                    <div class="star-rating"><span style="width:80%"></span></div>
                    <div class="price">$23.<span class="price-mini">99</span><span class="old-price">$30.<span class="price-mini">99</span></span></div>
                    <div class="button-groups"><a href="#" class="#button add-to-cart"> <i class="flaticon-commerce"></i>Add to cart</a><a href="cart.html" class="#button added-to-cart"> <i class="flaticon-mark"></i>View cart	</a></div>
                  </div>
                </div>
              </div>
              <!-- ! product-->
              <!-- product-->
              <div class="col-md-4 col-sm-6">
                <div class="product sale">
                  <!-- picture-->
                  <div class="pic"><img src="{% static 'deeperweb/pic/shop/240x300/7.jpg' %}" alt><a href="single.html" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                  <!-- ! picture-->
                  <h3 class="product-title"><a href="single.html">Aenean ut eros et</a></h3>
                  <div class="price-review">
                    <div class="star-rating full"><span style="width:100%"></span></div>
                    <div class="price">$90.<span class="price-mini">99</span></div>
                    <div class="button-groups"><a href="#" class="#button add-to-cart"> <i class="flaticon-commerce"></i>Add to cart</a><a href="cart.html" class="#button added-to-cart"> <i class="flaticon-mark"></i>View cart</a></div>
                  </div>
                </div>
              </div>
              <!-- ! product-->
              <!-- product-->
              <div class="col-md-4 col-sm-6">
                <div class="product">
                  <!-- picture-->
                  <div class="pic"><img src="{% static 'deeperweb/pic/shop/240x300/8.jpg' %}" alt><a href="single.html" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                  <!-- ! picture-->
                  <h3 class="product-title"><a href="single.html">Phasellus leo dolor</a></h3>
                  <div class="price-review">
                    <div class="star-rating"><span style="width:80%"></span></div>
                    <div class="price">$130.<span class="price-mini">99</span></div>
                    <div class="button-groups"><a href="#" class="#button add-to-cart"> <i class="flaticon-commerce"></i>Add to cart</a><a href="cart.html" class="#button added-to-cart"> <i class="flaticon-mark"></i>View cart	</a></div>
                  </div>
                </div>
              </div>
              <!-- ! product-->
              <!-- product-->
              <div class="col-md-4 col-sm-6">
                <div class="product">
                  <!-- action-->
                  <div class="action">-15%</div>
                  <!-- ! action-->
                  <!-- picture-->
                  <div class="pic"><img src="{% static 'deeperweb/pic/shop/240x300/9.jpg' %}" alt><a href="single.html" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                  <!-- ! picture-->
                  <h3 class="product-title"><a href="single.html">Phasellus accumsan cursus</a></h3>
                  <div class="price-review">
                    <div class="star-rating"><span style="width:80%"></span></div>
                    <div class="price">$85.<span class="price-mini">99</span><span class="old-price">$100.<span class="price-mini">99</span></span></div>
                    <div class="button-groups"><a href="#" class="#button add-to-cart"> <i class="flaticon-commerce"></i>Add to cart</a><a href="cart.html" class="#button added-to-cart"> <i class="flaticon-mark"></i>View cart	</a></div>
                  </div>
                </div>
              </div>
              <!-- ! product-->
            </div>
            <!-- ! produts-->
            <div class="cws_divider mb-50 mt-10"></div>
            <div class="#data-bot">
              <div class="#data">
                <div class="result-count">Showing <span>6</span> Posts of <span>15</span> Pages</div>
              </div>
              <!-- pagination-->
              <nav class="text-right">
                <ul class="pagination mt-0 mb-0">
                  <li><a href="#" aria-label="Previous"><span class="fa fa-angle-left"></span></a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#" class="active">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">...</a></li>
                  <li><a href="#">23</a></li>
                  <li><a href="#" aria-label="Next"><span class="fa fa-angle-right"></span></a></li>
                </ul>
              </nav>
              <!-- ! pagination-->
            </div>
          </div>
          <!-- ! content-->
        </div>
        <div class="row">
          <!-- service item-->
          <div class="col-md-4 col-sm-6 mb-40">
            <div class="service-item icon-center color-icon border"><i class="flaticon-transport cws-icon type-1 color-2"></i>
              <h3>Free Shipping</h3>
              <p class="mb-0">Aecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.</p>
            </div>
          </div>
          <!-- service item-->
          <!-- ! service item-->
          <div class="col-md-4 col-sm-6 mb-40">
            <div class="service-item icon-center color-icon border"><i class="flaticon-business cws-icon type-1 color-2"></i>
              <h3>100% Money Back</h3>
              <p class="mb-0">Sed consequat, leos eget bibendum sodales, augue velit cursus nunc, quis. </p>
            </div>
          </div>
          <!-- service item-->
          <!-- ! service item-->
          <div class="col-md-4 col-sm-6 mb-40">
            <div class="service-item icon-center color-icon border"><i class="flaticon-people-1 cws-icon type-1 color-2"></i>
              <h3>Online Support</h3>
              <p class="mb-0"> Vestibulum purus quam, scelerisque ut, des mollis sed, nonummy id, metus.   </p>
            </div>
          </div>
          <!-- ! service item-->
        </div>
      </div>
    </div>

{% include "deeperweb/includes/footer.html" %}