{% load staticfiles %}

{% include "deeperweb/includes/header.html" %}
<section style="background-image:url({% static 'deeperweb/pic/breadcrumbs/bg-1.jpg' %}); no-repeat" class="breadcrumbs">
    <div class="container">
        <div class="text-center breadcrumbs-item row">
            <h1>Demo</h1>
            <a href="{% url 'index' %}">home</a><i class="fa fa-angle-right"></i>
            <a href="{% url 'demo' %}">DeepER</a><i class="fa fa-angle-right"></i>
            <a href="#">Demo</a>
        </div>
    </div>
</section>
<div class="content-body" style="background-image:url({% static 'deeperweb/pic/breadcrumbs/bg-3.jpg' %}); no-repeat">
    <div class="container">
        <br/>
        <div class="row" id="api">
            <div class="col-md-3 cws-widget">
                <div class="widget-categories alt">
                    <div class="accordion style-1">
                        <div class="content-title"><span>Dblp<i class="accordion_angle fa fa-angle-down"></i></span>
                        </div>
                        <div class="content">
                            <ul id="dblp">
                                <li><a>Publ API</a></li>
                                <li><a>Venue API</a></li>
                                <li><a>Author API</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cws-widget">
                <div class="widget-categories alt">
                    <div class="accordion style-1">
                        <div class="content-title"><span>Yelp<i class="accordion_angle fa fa-angle-down"></i></span>
                        </div>
                        <div class="content">
                            <ul id="yelp">
                                <li><a>Search API</a></li>
                            </ul>
                            <select name="state">
                                <option value="menu_order">Choose your state</option>
                                <option value="popularity">Arizona</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cws-widget">
                <div class="widget-categories alt">
                    <div class="accordion style-1">
                        <div class="content-title"><span>AMiner<i
                                class="accordion_angle fa fa-angle-down"></i></span></div>
                        <div class="content">
                            <ul id="aminer">
                                <li><a>Publ API</a></li>
                                <li><a>Search API</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cws-widget">
                <input id="fileupload" type="file" name="files[]" style="display:none">
                <button type="button" class="btn btn-primary" id="upload"><a>Upload csv</a></button>
                <button type="button" class="btn btn-primary" id="try"><a>Try it now</a></button>
            </div>
        </div>
        <div class="row">
            <div class="bootstrap-switch" id="format">
                <input type="checkbox" checked/>
            </div>
            <div class="bootstrap-switch" id="typos">
                <input type="checkbox" checked/>
            </div>
        </div>
        <div class="row" id="text_input">
            <textarea placeholder="Copy your CSV here" style="height: 488px"></textarea>
        </div>
        <div class="row" style="display: none; overflow:scroll; height: 488px" id="table_input">
            <table class="table table-hover table-bordered">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<section style="background-image:url({% static 'deeperweb/pic/breadcrumbs/bg-1.jpg' %}); no-repeat" class="breadcrumbs">
    <div class="container">
        <div class="text-center breadcrumbs-item">
            <h1>Result</h1>
            <a href="{% url 'index' %}">home</a><i class="fa fa-angle-right"></i>
            <a href="{% url 'demo' %}">DeepER</a><i class="fa fa-angle-right"></i>
            <a href="#">Result</a>
        </div>
    </div>
</section>
<div class="content-body" style="background-image:url({% static 'deeperweb/pic/breadcrumbs/bg-3.jpg' %}); no-repeat">
    <div class="container">
        <br/>
        <div class="widget-tags" id="join_schema">
            <!-- item tags-->
        </div>
        <div align="right" class="cws-widget">
            <button type="button" class="btn btn-primary" id="continue"><a>Continue</a></button>
            <button type="button" class="btn btn-primary" id="download"><a>Download</a></button>
        </div>
        <div style="overflow:scroll; height: 488px">
            <div id="topLoader"
                 style="position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);}"></div>
            <table class="table table-hover table-bordered" style="display: none;" id="table_result">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if cookies_expired %}
<div class="login-popup open">
    {% else %}
    <div class="login-popup">
        {% endif %}
        <div class="login-popup-wrap">
            <div class="title-wrap">
                <h2>Subscribe For Free</h2><i class="close-button flaticon-cross"></i>
            </div>
            <div class="login-content">
                <input type="text" name="name" value="" placeholder="Enter Your Name ..." aria-required="true"
                       class="form-row">
                <input type="text" name="email" value="" placeholder="Enter Your Email ..." aria-required="true"
                       class="form-row">
            </div>
            <div class="cws-button gray alt full-width">Submit</div>
        </div>
    </div>
    <div class="news-popup">
        <div class="news-popup-wrap">
            <div class="news-content">
                <div class="news-title">
                    <h2>Schema Matching</h2><i class="close-button flaticon-cross"></i>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget-tags" id="local_schema">
                            <a class="cws-button color-3" id="local_button">Your schema</a>
                            <!-- item tags-->
                        </div>
                        <div class="widget-tags" id="hidden_schema">
                            <a class="cws-button color-3" id="hidden_button">Api schema</a>
                            <!-- item tags-->
                        </div>
                    </div>
                </div>
                <div class="cws-button gray alt full-width" id="msg_submit"><a>Submit</a></div>
            </div>
        </div>
    </div>
    <div class="alert-popup">
        <div class="alert-popup-wrap">
            <div class="title-wrap">
                <h2>Notification</h2><i class="close-button flaticon-cross"></i>
            </div>
            <div class="alert-content">
                <p></p>
            </div>
            <div class="cws-button gray alt full-width">OK</div>
        </div>
    </div>

    {% include "deeperweb/includes/footer.html" %}
    <script type="text/javascript" src="{% static 'deeperweb/js/jquery.ui.widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'deeperweb/js/jquery.iframe-transport.js' %}"></script>
    <script type="text/javascript" src="{% static 'deeperweb/js/jquery.fileupload.js' %}"></script>
    <script type="text/javascript" src="{% static 'deeperweb/js/jquery.percentageloader-0.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'deeperweb/js/bootstrap-switch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'deeperweb/js/demo.js' %}"></script>