{% load staticfiles %}

{% include "deeperweb/includes/header.html" %}
<section style="background-image:url({% static 'deeperweb/pic/breadcrumbs/bg-1.jpg' %}); no-repeat" class="breadcrumbs">
    <div class="container">
        <div class="text-center breadcrumbs-item row">
            <h1>Demo</h1>
            <a href="{% url 'index' %}">home</a><i class="fa fa-angle-right"></i>
            <a href="{% url 'demo' %}">demo</a><i class="fa fa-angle-right"></i>
            <a href="#">Schema Matching</a>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="widget-tags" id="local_schema">
                    <a class="cws-button color-3" id="local_button">Your schema</a>
                    <!-- item tags-->
                </div>
                <div class="widget-tags" id="hidden_schema">
                    <a class="cws-button color-3" id="hidden_button">Api schema</a>
                    <!-- item tags-->
                    <a class='tag ' style="background: rgb(35, 125, 200); border-color: rgb(35, 125, 200); color: rgb(255, 255, 255);">info.key<span class="serial-badge">0</span></a>
                    <a class='tag' style="background: rgb(35, 125, 200); border-color: rgb(35, 125, 200); color: rgb(255, 255, 255);">info.title<span class="serial-badge">1</span></a>
                    <a class='tag' style="background: rgb(35, 125, 200); border-color: rgb(35, 125, 200); color: rgb(255, 255, 255);">info.authors.author.*<span class="serial-badge">2</span></a>
                    <a class='tag'>@score</a>
                    <a class='tag'>info.url</a>
                    <a class='tag'>info.venue</a>
                    <a class='tag'>info.volume</a>
                    <a class='tag'>info.year</a>
                    <a class='tag'>info.type</a>
                    <a class='tag'>@id</a>
                    <a class='tag'>url</a>
                </div>
            </div>
            <div class="col-md-3 cws-widget">
                <div class="widget-categories alt">
                    <div class="accordion style-2" id="api">
                        <div class="content-title"><span>Dblp<i class="accordion_angle fa fa-angle-down"></i></span></div>
                        <div class="content">
                            <ul id="dblp">
                                <li class="active"><a>Publ API</a></li>
                                <li><a>Venue API</a></li>
                                <li><a>Author API</a></li>
                            </ul>
                        </div>
                        <div class="content-title"><span>Yelp<i class="accordion_angle fa fa-angle-down"></i></span></div>
                        <div class="content">
                            <ul id="yelp">
                                <li><a>Search API</a></li>
                            </ul>
                        </div>
                        <div class="content-title"><span>AMiner<i class="accordion_angle fa fa-angle-down"></i></span></div>
                        <div class="content">
                            <ul id="aminer">
                                <li><a>Publ API</a></li>
                                <li><a>Advanced Publ API</a></li>
                                <li><a>Search API</a></li>
                                <li><a>Advanced Search API</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <input id="fileupload" type="file" name="files[]" style="display:none">
                <button type="button" class="btn btn-primary" id="upload"><a>Upload csv</a></button>
                <button type="button" class="btn btn-primary" id="try"><a href="#topLoader">Try it now</a></button>
            </div>
        </div>
        <div class="row" style="overflow:scroll; height: 488px">
            <textarea name="message" placeholder="Copy your CSV here" style="height: 475px"></textarea>
            <table class="table table-hover table-bordered" style="display: none;" id="table_input">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="text-center breadcrumbs-item">
            <br>
            <a href="{% url 'index' %}">home</a><i class="fa fa-angle-right"></i>
            <a href="{% url 'demo' %}">demo</a><i class="fa fa-angle-right"></i>
            <a href="#">Schema Operation</a>
        </div>
        <div class="widget-tags" id="join_schema">
            <!-- item tags-->
        </div>
        <div align="right">
            <button type="button" class="btn btn-primary" id="download"><a>Download</a></button>
        </div>
        <div style="overflow:scroll; height: 488px">
            <div id="topLoader" style="position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);}">
            </div>
            <table class="table table-hover table-bordered" style="display: none;" id="table_result">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>
<div class="login-popup">
    <div class="login-popup-wrap">
        <div class="title-wrap">
          <h2>Subscribe For Free</h2>
        </div>
        <div class="login-content">
            <input type="text" name="name" value="" placeholder="Enter Your Name ..." aria-required="true" class="form-row">
            <input type="text" name="email" value="" placeholder="Enter Your Email ..." aria-required="true" class="form-row">
        </div>
        <div class="cws-button gray alt full-width" id="msg_submit">Submit</div>
    </div>
</div>
{% include "deeperweb/includes/footer.html" %}
<script type="text/javascript" src="{% static 'deeperweb/js/jquery.ui.widget.js' %}"></script>
<script type="text/javascript" src="{% static 'deeperweb/js/jquery.iframe-transport.js' %}"></script>
<script type="text/javascript" src="{% static 'deeperweb/js/jquery.fileupload.js' %}"></script>
<script type="text/javascript" src="{% static 'deeperweb/js/jquery.percentageloader-0.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'deeperweb/js/demo.js' %}"></script>