{% load staticfiles %}

{% include "deeperweb/includes/header.html" %}

<div class="content-body">
    <div class="tp-banner-container">
        <div class="tp-banner-slider">
            <ul>
                <li data-masterspeed="700" data-slotamount="7" data-transition="fade"><img
                        src="{% static 'deeperweb/rs-plugin/assets/loader.gif' %}" data-bgfit="cover"
                        data-lazyload="{% static 'deeperweb/pic/slider/index/slide-1.jpg' %}"
                        data-bgposition="center 70%" alt="" data-bgparallax="10">
                    <div data-x="['left','left','center','center']" data-hoffset="0" data-y="center" data-voffset="-5%"
                         data-width="['470px','350px','250px','200px']"
                         data-transform_in="x:-150px;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="x:150px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-start="400" class="tp-caption sl-content">
                        <div class="sl-title-top">A web data integration tool</div>
                        <div class="sl-title">Deep<br/><span>Entity Resolution</span></div>
                        <p>which aims to find pairs of records that describe the same entity between a local database
                            and a hidden database and has many applications in data enrichment and data cleaning.</p><a
                            href="https://github.com/sfu-db/deeperlib" class="cws-button gray">Learn more</a>
                    </div>
                </li>
                <li data-masterspeed="700" data-transition="fade"><img
                        src="{% static 'deeperweb/rs-plugin/assets/loader.gif' %}"
                        data-lazyload="{% static 'deeperweb/pic/slider/index/slide-2.jpg' %}"
                        data-bgposition="center 45%" alt="" data-bgparallax="10">
                    <div data-x="['left','right','center','center']" data-hoffset="0" data-y="center" data-voffset="-5%"
                         data-width="['470px','350px','250px','200px']"
                         data-transform_in="y:-150px;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:150px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-start="400" class="tp-caption sl-content align-center">
                        <div class="sl-title-top">A web data integration tool</div>
                        <div class="sl-title">Deep<br/><span>Entity Resolution</span></div>
                        <p>which aims to find pairs of records that describe the same entity between a local database
                            and a hidden database and has many applications in data enrichment and data cleaning.</p><a
                            href="https://github.com/sfu-db/deeperlib" class="cws-button gray">Learn more</a>
                    </div>
                </li>
                <li data-masterspeed="700" data-transition="fade" class="without-overlay"><img
                        src="{% static 'deeperweb/rs-plugin/assets/loader.gif' %}"
                        data-lazyload="{% static 'deeperweb/pic/slider/index/slide-3.jpg' %}"
                        data-bgposition="center 67%" alt="" data-kenburns="on" data-duration="30000"
                        data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0"
                        data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10">
                    <div data-x="['right','right','center','center']" data-hoffset="0" data-y="center"
                         data-voffset="-5%" data-width="['470px','350px','250px','200px']"
                         data-transform_in="x:150px;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="x:-150px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-start="400" class="tp-caption sl-content align-right">
                        <div class="sl-title-top text-white">A web data integration tool</div>
                        <div class="sl-title text-white"><span>Deep</span><br/>Entity Resolution</div>
                        <p class="text-white">which aims to find pairs of records that describe the same entity between
                            a local database and a hidden database and has many applications in data enrichment and data
                            cleaning.</p><a href="https://github.com/sfu-db/deeperlib" class="cws-button white">Learn
                        more</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- page section services-->
    <section class="page-section pt-80 pb-0 bg-gray">
        <div class="container">
            <div class="row pt-100 pb-0">
                <div class="col-md-4 mb-md-40">
                    <div class="service-item icon-left mb-60 alt"><i class="flaticon-work cws-icon"></i>
                        <h3>Data Enrichment</h3>
                        <p class="mb-0">Phasellus viverra nulla ut metus varius laoreet, ultricies nisi vel augue uisque
                            rutrum.</p>
                    </div>
                    <div class="service-item icon-left alt"><i class="flaticon-school cws-icon"></i>
                        <h3>Data Cleaning</h3>
                        <p class="mb-0">Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus, ecenas
                            tempus.</p>
                    </div>
                </div>
                <div class="col-md-4 flex-item-end mb-md-40"><img src="{% static 'deeperweb/pic/promo-1.jpg' %}" alt
                                                                  class="mt-minus-170 mt-md-0"></div>
                <div class="col-md-4 mb-md-40">
                    <div class="service-item icon-right mb-60 alt"><i class="flaticon-tool cws-icon"></i>
                        <h3>Python Library</h3>
                        <p class="mb-0">Donec vitae sapien ut libero venenatis fauc ibus. Nullam quis ante. </p>
                    </div>
                    <div class="service-item icon-right alt"><i class="flaticon-technology cws-icon"></i>
                        <h3>Web UI</h3>
                        <p class="mb-0">Duis leo. Sed fringilla mauris sit amet nibh, amet orci eget eros faucibus
                            tincidunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page section about-->
    <!-- call out section-->
    <section class="page-section pt-0 pb-0 bg-main cws_prlx_section"><img
            src="{% static 'deeperweb/pic/callout-bg.jpg' %}" alt class="cws_prlx_layer">
        <div class="container">
            <div class="call-out-box clearfix with-icon">
                <div class="callout-wrap"><i class="flaticon-fashion"></i>
                    <div class="callout-content">
                        <p>DeepER is a powerful web data integration tool for data scientists.</p>
                    </div>
                    <a href="https://github.com/sfu-db/deeperlib" class="cws-button white mt-20">learn more</a>
                </div>
            </div>
        </div>
    </section>
    <!-- ! call out section-->
    <!-- page section about-->
    <section class="page-section bt-gray bg-n-rep bg-x-50"
             style="background-image:url({% static 'deeperweb/pic/back-1.jpg' %}); no-repeat">
        <div class="container">
            <div class="col-md-6 mb-md-50"></div>
            <div class="col-md-6">
                <!-- section title-->
                <h2 class="title-section mt-0 mb-0">Key Idea</h2>
                <!-- ! section title-->
                <div class="cws_divider with-plus short-3 mb-20 mt-10"></div>
                <p class="mb-30">Leveraging Deep Web To Speed Up Data Cleaning and Data Enrichment</p>
                <!-- accordion-->
                <div class="accordion style-1 mb-40">
                    <div class="content-title"><span class="active"><i
                            class="flaticon-shapes"></i>Theoretical Analysis<i
                            class="accordion_angle fa fa-angle-down"></i></span></div>
                    <div class="content"><p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, aug
                        ue velit cursus nunc, quis gravida magna mi a libero. </p></div>
                    <div class="content-title"><span><i class="flaticon-technology-3"></i>Inadequate Sample Size<i
                            class="accordion_angle fa fa-angle-down"></i></span></div>
                    <div class="content">Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, aug ue
                        velit cursus nunc, quis gravida magna mi a libero.
                    </div>
                    <div class="content-title"><span><i class="flaticon-favorite"></i>Fuzzy Matching <i
                            class="accordion_angle fa fa-angle-down"></i></span></div>
                    <div class="content">Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, aug ue
                        velit cursus nunc, quis gravida magna mi a libero.
                    </div>
                </div>
                <!-- ! accordion--><a href="#" class="cws-button alt with-icon mb-xs-20 mr-xs-10">Contact Us<i
                    class="flaticon-note-1"></i></a><a href="#" class="cws-button alt with-icon color-3">Online
                support<i class="flaticon-social-5"></i></a>
            </div>
        </div>
        <!-- list-->
    </section>
    <!-- ! page section about-->
    <!-- section news-->
    <section class="page-section pb-70 bb-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- title section-->
                    <h2 class="title-section text-center mt-0 mb-0">Latest news</h2>
                    <!-- ! title section-->
                    <div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
                    <p class="text-center mb-30">Days to remember.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <!-- Blog Post -->
                    <div class="blog-item news">
                        <!-- Blog Image-->
                        <div class="blog-media">
                            <div class="pic"><img src="{% static 'deeperweb/pic/blog/370x260/1.jpg' %}" alt><a href="#"
                                                                                                               class="hover-effect alt"><span
                                    class="plus fa fa-plus"></span></a></div>
                            <div class="blog-date alt">
                                <div class="date">
                                    <div class="date-cont"><span class="day">29</span><span title="July"
                                                                                            class="month"><span>July</span></span><span
                                            class="year">2017</span><i class="springs"></i></div>
                                </div>
                            </div>
                        </div>
                        <!-- title, author...-->
                        <div class="blog-item-data clearfix">
                            <h4 class="blog-title">Farewell Party</h4>
                            <p class="post-info">By <a href="#" class="post-category"><span class="posr-author">Yongjun He</span></a>
                            </p>
                        </div>
                        <!-- Text Intro-->
                        <div class="blog-item-body">
                            <p>To Yudian: Thank you for much for the perfect talk and your suggestions about how to
                                survive phd career.
                                Wish you a happy wedding.</p>
                        </div>
                        <a href="#" class="cws-button small alt">Read More</a>
                    </div>
                    <!-- ! Blog Post-->
                </div>
                <div class="col-md-4 col-sm-6">
                    <!-- ! Blog Post -->
                    <div class="blog-item news">
                        <!-- Blog Image-->
                        <div class="blog-media">
                            <div class="pic"><img src="{% static 'deeperweb/pic/blog/370x260/3.jpg' %}" alt><a href="#"
                                                                                                               class="hover-effect alt"><span
                                    class="plus fa fa-plus"></span></a></div>
                            <div class="blog-date alt">
                                <div class="date">
                                    <div class="date-cont"><span class="day">16</span><span title="Jun"
                                                                                            class="month"><span>Jun</span></span><span
                                            class="year">2017</span><i class="springs"></i></div>
                                </div>
                            </div>
                        </div>
                        <!-- title, author...-->
                        <div class="blog-item-data clearfix">
                            <h4 class="blog-title">Welcome Visiting Members</h4>
                            <p class="post-info">By <a href="#" class="post-category"><span class="posr-author">Yongjun He</span></a>
                            </p>
                        </div>
                        <!-- Text Intro-->
                        <div class="blog-item-body">
                            <p>Dr.Yudian Zheng visited SFU and UBC and gave a talk entitled <a>Managing the Quality of
                                Crowdsourced Data.</a>
                            <p>Yongjun He visited SFU database system laboratory and cooperated with Dr.Wang, Dr.Shea
                                and Phd students Penny on Deep Entity Resolution.</p>
                        </div>
                        <a href="#" class="cws-button small alt">Read More</a>
                    </div>
                    <!-- ! Blog Post -->
                </div>
                <div class="col-md-4 col-sm-6">
                    <!-- ! Blog Post image-->
                    <div class="blog-item news">
                        <!-- Blog Image-->
                        <div class="blog-media">
                            <div class="pic"><img src="{% static 'deeperweb/pic/blog/370x260/2.jpg' %}" alt><a href="#"
                                                                                                               class="hover-effect alt"><span
                                    class="plus fa fa-plus"></span></a></div>
                            <div class="blog-date alt">
                                <div class="date">
                                    <div class="date-cont"><span class="day">21</span><span title="Aug"
                                                                                            class="month"><span>Aug</span></span><span
                                            class="year">2017</span><i class="springs"></i></div>
                                </div>
                            </div>
                        </div>
                        <!-- title, author...-->
                        <div class="blog-item-data clearfix">
                            <h4 class="blog-title">Farewell Party</h4>
                            <p class="post-info">By <a href="#" class="post-category"><span class="posr-author">Yongjun He</span></a>
                            </p>
                        </div>
                        <!-- Text Intro-->
                        <div class="blog-item-body">
                            <p>To Mat: Congratulations to be the first alumni of our lab. Your card deeply touched our
                                heart.
                                Thanks for leaving this to us. So glad to hear that you enjoyed your time in the lab!  
                                Best of luck with your move to Bay Area. I am pretty sure we will see each other soon.  
                                Please keep in touch.</p>
                        </div>
                        <a href="#" class="cws-button small alt">Read More</a>
                    </div>
                    <!-- ! Blog Post image-->
                </div>
            </div>
        </div>
    </section>
    <!-- ! section news-->
</div>

{% include "deeperweb/includes/footer.html" %}