{% load staticfiles %}

{% include "deeperweb/includes/header.html" %}
<!-- breadcrumbs start-->
<section style="background-image:url({% static 'deeperweb/pic/breadcrumbs/bg-1.jpg' %}); no-repeat" class="breadcrumbs">
    <div class="container">
        <div class="text-center breadcrumbs-item">
            <h1>Cloud Disk</h1>
            <a href="{% url 'index' %}">home</a><i class="fa fa-angle-right"></i>
            <a href="{% url 'contact' %}">store</a><i class="fa fa-angle-right"></i>
            <a href="#">Cloud Disk</a>
        </div>
    </div>
</section>
<!-- ! breadcrumbs end-->
    <div class="content-body page">
      <div class="container">
        <div class="row">
          {% include "deeperweb/includes/side.html" %}
          <!-- content-->
          <div class="col-md-8">
            <div class="main single-product">
              <!-- images of product-->
              <div class="images">
                <!-- picture-->
                <div class="pic"><img src="{% static 'deeperweb/pic/shop/270x380-1.jpg' %}" alt><a href="{% static 'deeperweb/pic/shop/270x380-1@2x.jpg' %}" class="hover-effect alt fancy"><span class="plus fa fa-expand"></span></a></div>
                <div class="thumbnails clearfix">
                  <div class="thumbnail pic"><img src="{% static 'deeperweb/pic/shop/80x113/1.jpg' %}" alt><a href="{% static 'deeperweb/pic/shop/80x113/1-l.jpg' %}" class="hover-effect alt fancy"><span class="plus fa fa-expand"></span></a></div>
                  <div class="thumbnail pic"><img src="{% static 'deeperweb/pic/shop/80x113/2.jpg' %}" alt><a href="{% static 'deeperweb/pic/shop/80x113/2-l.jpg' %}" class="hover-effect alt fancy"><span class="plus fa fa-expand"></span></a></div>
                  <div class="thumbnail pic"><img src="{% static 'deeperweb/pic/shop/80x113/3.jpg' %}" alt><a href="{% static 'deeperweb/pic/shop/80x113/3-l.jpg' %}" class="hover-effect alt fancy"><span class="plus fa fa-expand"></span></a></div>
                </div>
                <!-- ! picture-->
              </div>
              <!-- ! images of product-->
              <!-- main description product-->
              <div class="summary clearfix">
                <!-- title product-->
                <h2 class="product-title mt-0">Maecenas tempus egetrhoncus</h2>
                <!-- ! title product-->
                <div class="review-status">
                  <div class="status-product in-stock">In Stock</div>
                  <div class="count-review"><span>4</span> Reviews</div>
                  <div class="status-product">Add Your Review</div>
                </div>
                <div class="cws_divider mb-5"></div>
                <div class="#price">
                  <div class="price">$54.<span class="price-mini">99</span><span class="old-price">$75.<span class="price-mini">99</span></span></div>
                  <div class="star-rating"><span style="width:80%"></span></div>
                </div>
                <div class="cws_divider mb-10"></div>
                <p class="description-product">Sed consequat, leo eget bibendum sodales, augue velit cursi us nunc, quis gravida magna mi a libero. Fusce vulputate ele ifend sapien estibulum purus quam.</p>
                <div class="cws_divider mb-15"></div>
                <div class="select-type mb-10">
                  <div class="selection-box half">
                    <select name="orderby">
                      <option value="menu_order">Choose your color</option>
                      <option value="popularity">Sort by popularity</option>
                      <option value="rating">Sort by average rating</option>
                      <option value="date">Sort by newness</option>
                      <option value="price">Sort by price: low to high</option>
                      <option value="price-desc">Sort by price: high to low</option>
                    </select>
                  </div>
                  <div class="selection-box half">
                    <select name="orderby">
                      <option value="menu_order">Choose your size</option>
                      <option value="popularity">XS</option>
                      <option value="rating">S</option>
                      <option value="date">M</option>
                      <option value="price">L</option>
                      <option value="price-desc">XL</option>
                    </select>
                  </div>
                </div>
                <div class="cws_divider mb-15"></div>
                <div class="add-cart-form">
                  <input type="number" step="1" min="1" name="quantity" value="1" class="qty"><a class="cws-icon border-icon flaticon-shapes"></a><a href="#" class="cws-button with-icon alt mt-sm-20">Add To Cart<i class="flaticon-commerce"></i></a>
                </div>
                <div class="mb-0 mt-30 category-line">Category: <a href="#">Dress</a></div>
                <div class="mb-0 post-number">Product Code: <span>1E8A76-E1879R</span></div>
                <div class="mb-0 tags-line">Product Tags: <a href="#">Dress</a>, <a href="#">Clothing</a>, <a href="#">Sale</a>, <a href="#">Women’s Dress</a></div>
              </div>
              <!-- ! main description product-->
              <!-- tabs-->
              <div class="tabs mt-30 mb-50">
                <div class="block-tabs-btn clearfix">
                  <div data-tabs-id="tabs1" class="tabs-btn active">Description</div>
                  <div data-tabs-id="tabs2" class="tabs-btn">Reviews</div>
                  <div data-tabs-id="tabs3" class="tabs-btn">Add info</div>
                </div>
                <!-- tabs keeper-->
                <div class="tabs-keeper">
                  <!-- tabs container-->
                  <div data-tabs-id="cont-tabs1" class="container-tabs active">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. </p>
                    <ul>
                      <li>Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris </li>
                      <li>Bin enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo doesi</li>
                      <li>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim</li>
                    </ul>
                    <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. </p>
                  </div>
                  <!-- /tabs container-->
                  <!-- tabs container-->
                  <div data-tabs-id="cont-tabs2" class="container-tabs">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. </p>
                    <ul>
                      <li>Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris </li>
                      <li>Bin enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo doesi</li>
                      <li>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim</li>
                    </ul>
                    <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. </p>
                  </div>
                  <!-- /tabs container-->
                  <!-- tabs container-->
                  <div data-tabs-id="cont-tabs3" class="container-tabs">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. </p>
                    <ul>
                      <li>Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris </li>
                      <li>Bin enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo doesi</li>
                      <li>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim</li>
                    </ul>
                    <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. </p>
                  </div>
                  <!-- /tabs container-->
                </div>
                <!-- /tabs keeper-->
              </div>
              <!-- /tabs-->
            </div>
            <div class="cws_divider"></div>
            <!-- post carousel-->
            <div class="carousel-container mt-50 mb-50">
              <div class="title-carousel clearfix">
                <h1 class="carousel-heading">Related products</h1>
                <div class="carousel-nav">
                  <div class="prev"><i class="fa fa-angle-left"></i></div>
                  <div class="next"><i class="fa fa-angle-right"></i></div>
                </div>
              </div>
              <div class="row">
                <div class="owl-three-item">
                  <!-- product-->
                  <div class="product">
                    <!-- picture-->
                    <div class="pic"><img src="{% static 'deeperweb/pic/shop/240x300/7.jpg' %}" alt><a href="single.html" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                    <!-- ! picture-->
                    <h3 class="product-title"><a href="single.html">Aenean ut eros et</a></h3>
                    <div class="price-review">
                      <div class="star-rating full"><span style="width:100%"></span></div>
                      <div class="price">$90.<span class="price-mini">99</span></div>
                      <div class="button-groups"><a href="#" class="#button add-to-cart"> <i class="flaticon-commerce"></i>Add to cart</a><a href="cart.html" class="#button added-to-cart"> <i class="flaticon-mark"></i>View cart</a></div>
                    </div>
                  </div>
                  <!-- ! product-->
                  <!-- product-->
                  <div class="product">
                    <!-- picture-->
                    <div class="pic"><img src="{% static 'deeperweb/pic/shop/240x300/8.jpg' %}" alt><a href="single.html" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                    <!-- ! picture-->
                    <h3 class="product-title"><a href="single.html">Phasellus leo dolor</a></h3>
                    <div class="price-review">
                      <div class="star-rating"><span style="width:80%"></span></div>
                      <div class="price">$130.<span class="price-mini">99</span></div>
                      <div class="button-groups"><a href="#" class="#button add-to-cart"> <i class="flaticon-commerce"></i>Add to cart</a><a href="cart.html" class="#button added-to-cart"> <i class="flaticon-mark"></i>View cart	</a></div>
                    </div>
                  </div>
                  <!-- ! product-->
                  <!-- product-->
                  <div class="product">
                    <!-- picture-->
                    <div class="pic"><img src="{% static 'deeperweb/pic/shop/240x300/9.jpg' %}" alt><a href="single.html" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                    <!-- ! picture-->
                    <h3 class="product-title"><a href="single.html">Phasellus accumsan cursus</a></h3>
                    <div class="price-review">
                      <div class="star-rating"><span style="width:80%"></span></div>
                      <div class="price">$85.<span class="price-mini">99</span><span class="old-price">$100.<span class="price-mini">99</span></span></div>
                      <div class="button-groups"><a href="#" class="#button add-to-cart"> <i class="flaticon-commerce"></i>Add to cart</a><a href="cart.html" class="#button added-to-cart"> <i class="flaticon-mark"></i>View cart	</a></div>
                    </div>
                  </div>
                  <!-- ! product-->
                  <!-- product-->
                  <div class="product">
                    <!-- picture-->
                    <div class="pic"><img src="{% static 'deeperweb/pic/shop/240x300/6.jpg' %}" alt><a href="single.html" class="hover-effect alt"><span class="plus fa fa-plus"></span></a></div>
                    <!-- ! picture-->
                    <h3 class="product-title"><a href="single.html">Cras ultricies mi eu</a></h3>
                    <div class="price-review">
                      <div class="star-rating"><span style="width:80%"></span></div>
                      <div class="price">$23.<span class="price-mini">99</span><span class="old-price">$30.<span class="price-mini">99</span></span></div>
                      <div class="button-groups"><a href="#" class="#button add-to-cart"> <i class="flaticon-commerce"></i>Add to cart</a><a href="cart.html" class="#button added-to-cart"> <i class="flaticon-mark"></i>View cart	</a></div>
                    </div>
                  </div>
                  <!-- ! product-->
                </div>
              </div>
            </div>
            <!-- ! post carousel-->
          </div>
          <!-- ! content-->
        </div>
      </div>
    </div>

{% include "deeperweb/includes/footer.html" %}