{% load staticfiles %}
          <!-- sidebar-->
          <div class="col-md-4 sidebar">
            <aside class="sb-right pb-0">
              <!-- widget search-->
              <div class="cws-widget">
                <div class="widget-search">
                  <form role="search" method="get" action="#" class="search-form">
                    <label><span class="screen-reader-text">Search ...</span>
                      <input type="search" placeholder="Search ..." value="" name="s" title="Search:" class="search-field">
                    </label>
                    <button type="submit" class="search-submit"><i class="flaticon-interface"></i></button>
                  </form>
                </div>
              </div>
              <!-- ! widget search-->
              <!-- widget category-->
              <div class="cws-widget">
                <div class="widget-categories alt">
                  <h2 class="widget-title">Product Categories</h2>
                  <div class="accordion style-2">
                    <div class="content-title"> <span>Women<i class="accordion_angle fa fa-angle-down"></i></span></div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Shoes </a></li>
                        <li><a href="#">Dresses</a></li>
                        <li class="active"><a href="#">Toys </a></li>
                        <li><a href="#">Pants </a></li>
                        <li><a href="#">Shirts </a></li>
                      </ul>
                    </div>
                    <div class="content-title"> <span>Men<i class="accordion_angle fa fa-angle-down"></i></span></div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Shoes </a></li>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Toys </a></li>
                        <li><a href="#">Pants </a></li>
                        <li><a href="#">Shirts </a></li>
                      </ul>
                    </div>
                    <div class="content-title"> <span class="active">Kids<i class="accordion_angle fa fa-angle-down"></i></span></div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Shoes </a></li>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Toys </a></li>
                        <li><a href="#">Pants </a></li>
                        <li><a href="#">Shirts</a></li>
                      </ul>
                    </div>
                    <div class="content-title"> <span>Sale<i class="accordion_angle fa fa-angle-down"></i></span></div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Shoes </a></li>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Toys </a></li>
                        <li><a href="#">Pants </a></li>
                        <li><a href="#">Shirts</a></li>
                      </ul>
                    </div>
                    <div class="content-title"> <span>Hot<i class="accordion_angle fa fa-angle-down"></i></span></div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Shoes </a></li>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Toys </a></li>
                        <li><a href="#">Pants </a></li>
                        <li><a href="#">Shirts</a></li>
                      </ul>
                    </div>
                    <div class="content-title"> <span>New<i class="accordion_angle fa fa-angle-down"></i></span></div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Shoes </a></li>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Toys </a></li>
                        <li><a href="#">Pants </a></li>
                        <li><a href="#">Shirts</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ! widget category-->
              <!-- widget filter size-->
              <div class="cws-widget">
                <div class="widget-filter-size">
                  <h2 class="widget-title">Filter By Size</h2>
                  <div class="selection-box mb-20">
                    <select>
                      <option>All size's</option>
                      <option>XS</option>
                      <option>M</option>
                      <option>S</option>
                      <option>L </option>
                      <option>XL </option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- ! widget filter size-->
              <!-- widget brands-->
              <div class="cws-widget">
                <div class="widget-custom-filter">
                  <h2 class="widget-title">Popular brands</h2>
                  <div class="brand-filter">
                    <ul>
                      <li class="cat-item cat-item-1 main-color"><a href="">Lorem ipsum</a></li>
                      <li class="cat-item cat-item-1 main-color"><a href="">Aenean massa</a></li>
                      <li class="cat-item cat-item-1 main-color active"><a href="">Cum sociis</a></li>
                      <li class="cat-item cat-item-1 main-color"><a href="">Donec quam</a></li>
                      <li class="cat-item cat-item-1 main-color"><a href="">Nulla consequat</a></li>
                      <li class="cat-item cat-item-1 main-color"><a href="">Aliquam lorem </a></li>
                      <li class="cat-item cat-item-1 main-color"><a href="">Curabitur ullamcorper </a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- ! widget brands-->
              <!-- widget image-->
              <div class="cws-widget">
                <div class="widget-image alt mb-60"><img src="{% static 'deeperweb/pic/shop/270x360.jpg' %}" alt>
                  <div class="img-title"><a href="#" class="cws-button small alt">Check it</a>
                    <h3>Holiday Sale</h3>
                    <p>30% Off</p>
                  </div>
                </div>
              </div>
              <!-- ! widget image-->
            </aside>
          </div>
          <!-- ! sidebar-->
